root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
tab_width = 4
insert_final_newline = true
max_line_length = 100

[*.{kt,kts}]
ktlint_code_style = android_studio
max_line_length = 140
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
ij_kotlin_imports_layout = *,android.**,androidx.**,java.**,javax.**,kotlin.**,kotlinx.**,org.**,mobi.kairos.**,^
ij_kotlin_name_count_to_use_star_import = 2147483647
ij_kotlin_name_count_to_use_star_import_for_members = 2147483647

ktlint_function_naming_ignore_when_annotated_with = Composable,Test

ktlint_standard_filename = disabled
ktlint_standard_package-name = disabled
ktlint_standard_property-naming = disabled
ktlint_standard_backing-property-naming = disabled
ktlint_standard_argument-list-wrapping = disabled
ktlint_standard_parameter-list-wrapping = disabled
ktlint_standard_double-colon-spacing = disabled
ktlint_standard_enum-entry-name-case = disabled
ktlint_standard_multiline-if-else = disabled
ktlint_standard_no-empty-first-line-in-method-block = disabled
ktlint_standard_spacing-around-angle-brackets = disabled
ktlint_standard_spacing-between-declarations-with-annotations = disabled
ktlint_standard_spacing-between-declarations-with-comments = disabled
ktlint_standard_unary-op-spacing = disabled
ktlint_standard_function-expression-body = disabled
ktlint_standard_value-parameter-comment = disabled
